
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #f4f4f9;
            color: #333;
            margin: 50px;
            padding: 40px;
            line-height: 1.6;
        }


        ol, ul, dl {
            background: #ffffff;
            padding: 50px;
            margin-bottom: 30px;
            border-radius: 20px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }

        li {
            padding: 8px 0;
        }

        dl dt {
            font-weight: bold;
            margin-top: 10px;
            color: #1e90ff;
        }

  
    